<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>

<h1>Django Lab Questions</h1>

<h3>Question 1:</h3>
<p>
Design a web site using Django, which is a website directory – 
A site containing links to other websites. A web page has different categories.
</p>

<ul>
    <li>A category table has a name, number of visits, and number of likes.</li>
    <li>A page table refers a category, has a title, URL, and many views.</li>
</ul>

<p>
Design a form that populates the above database and displays it.
</p>

<br>

<a href="{% url 'directory_solution' %}">
    <button>Go to Solution</button>
</a>

</body>
</html>