<!DOCTYPE html>
<html>
<head>
    <title>Web Programming Lab</title>
</head>
<body>

<h1> Lab No:9 Form Processing using Django – Part II - Navigation</h1>

<hr>

<h3>Question 1: Registration Page</h3>
<a href="{% url 'register' %}">Go to Register Page</a>

<br><br>

<h3>Question 2: Voting Page</h3>
<a href="{% url 'vote' %}">Go to Voting Page</a>

<br><br>

<h3>Question 3: CGPA Calculator</h3>
<a href="{% url 'cgpa_page1' %}">Go to CGPA Page</a>

<h3>Question 4: Billing System</h3>
<a href="/homeassignment/">Go to Billing Page</a><br><br>

<h3>Question 5: Feedback Form</h3>
<a href="/homeassignment/feedback/">Go to Feedback Form</a>
<br><br>

<hr>

</body>
</html>